@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

/* @font-face { 
    font-family: "WebFont";
    src: url(WebFont.eot?) format("eot"), 
         url(WebFont.woff) format("woff"), 
         url(WebFont.ttf) format("truetype"); 
} */


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    height: 100%;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 220px;

}

.container {
    width: 980px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    height: 100%;

}

.header {
    padding-top: 65px;
    width: 100%;
    height: 230px;
    background-color: #dcdcdc;
    color: #777777;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__space {
    flex-grow: 1;
}

.contact__feedback {
    line-height: 10px;
    text-align: end;

}

.contact__phone {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    line-height: 5px;
}

.contact__link {
    border-bottom: 2px dashed;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    position: relative;
    background-color: #767676;
    margin: 0;
    padding: 0;
    height: 80px;
    font-size: 24px;
    color: #ffffff;

}

.menu__list {
    margin-top: 20px;
    padding: 30px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu__item {
    padding: 0 25px;
    border-right: 2px solid#ffffff;
    cursor: pointer;
    text-align: center;
    margin: 0;

}

.menu__item:hover {
    text-decoration: underline;
}

.menu__item_end {
    border: none;
}

.slider {
    height: 400px;
    width: 100%;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

}

.slider__slide {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}

.slider__page {
    visibility: hidden;

}

.slider__page_active {
    visibility: visible;
}

.slider__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
    /* animation: slider-animation 4s linear infinite; */
}

.slider__image_first {
    animation: slider-animation 8s linear infinite;
}

.slider__image_second {
    animation: slider-animation 8s linear infinite 4s;
    animation-delay: 4s;
}

@keyframes slider-animation {
    0% {
        opacity: 0;
        visibility: visible;
    }

    6% {
        opacity: 0.2;
        visibility: visible;
    }

    24% {
        opacity: 1;
        visibility: visible;
    }

    30% {
        opacity: 0.8;
        visibility: visible;
    }

    50% {
        opacity: 0;
        visibility: visible;
    }

    60% {
        opacity: 0;
        visibility: visible;
    }

    80% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: visible;
    }
}

.slider__button {
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.slider__pre {
    float: left;
}

.slider__next {
    float: right;
    transform: scale(-1);
}

.content__menu {
    display: flex;
    margin: 10px 0 26px 0;

}

.content__menu-item {
    text-decoration: underline;
    cursor: pointer;
}

.content__menu-separator {
    margin: 0 10px 0 5px;
}

.content__menu-item_current {
    text-decoration: none;
}

.content__leftblock {
    width: 200px;
    height: 100%;
    float: left;

}

.main-list {
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0;
    font-size: 18px;
    line-height: 18px;
}

.main-list__item {
    padding-bottom: 10px;
    margin: 0;
    cursor: pointer;

}

.main-list__name_active {
    text-decoration: underline;
}

.main-list__nested-list {
    list-style: disc;
    display: none;
    margin: 0;
    padding: 0;
}

.main-list__nested-list_active {
    display: inline;
    list-style-position: inside;

}

.main-list__nested-item {
    margin-left: 5px;
    font-size: 14px;
    padding-top: 5px;
    cursor: pointer;
}

.main-list__nested-item_active {
    font-weight: bold;
    text-decoration: underline;
}

.content__excel {
    margin-top: 108px;
    margin-left: 43px;
    cursor: pointer;
}

.content__excel-title {

    margin-top: 6px;
    color: #444444;
}

.content__centerblock {
    float: left;
    margin: 0;
    height: 100%;
    width: 780px;
}

.item-card {
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    position: relative;
    margin-right: 15px;
    margin-bottom: 20px;
    float: left;
}

.item-card_end {
    margin: 0;
}

.item-card__info {
    width: 210px;
    margin-left: 20px;

}

.item-card__photo {
    width: 210px;
    height: 210px;
    margin: 20px 20px 20px 0;
    cursor: pointer;

}

.item-card__description {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-card__buy {
    width: 210px;
    position: absolute;
    margin: 0;
    left: 18px;
    bottom: 14px;

}

.item-card__price {
    margin: 0;
    float: left;
    font-weight: bold;
    font-size: 28px;
    height: 28px;
}

.item-card__icon {
    margin: 0;
    float: right;
    cursor: pointer;
}

.pages {
    list-style: none;
    clear: both;
    display: flex;
    color: #767676;
    justify-content: center;
    align-items: baseline;

}

.pages__number {
    padding: 0 5px;
    cursor: pointer;

}

.pages__number_cuttent {
    font-size: 18px;
}

.content__info {
    margin-top: 52px;
    border-top: 1px solid #7f7f7f;
    padding-top: 30px;
    height: 442px;
    color: #767676;

}

.content__history {
    width: 48%;
    float: left;
    height: 100%;
    padding-right: 2%;

}

.content__feature {
    width: 48%;
    float: left;
    height: 100%;
    padding-left: 2%;

}

.footer {
    display: block;
    position: relative;
    margin-bottom: -220px;
    height: 220px;
    background-color: #777777;
    color: #ffffff;
    padding-top: 46px;

    clear: both;
}

.footer__wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__copyright {
    float: left;
    width: 350px;
    height: 150px;

}

.footer__comp {
    margin: 0;
    padding: 0;
}

.footer__navbar {
    text-decoration: underline;
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
}

.footer__link {
    cursor: pointer;
}

.footer__develop {
    float: right;
    padding: 0;
    margin: 0;
}

.footer__develop-logo {
    float: left;
    margin-right: 10px;

}

.footer__develop-description {
    padding: 0;
    margin: 0;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -5px;
}

.footer__dev {
    margin: 0;
    padding: 0;
}

.footer__underline {
    text-decoration: underline;
    cursor: pointer;

}